<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SmartClass | AI powered Attendance System</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css')  }}">
    <link rel="icon" type="image/png" href="{{ url_for('static', filename='img/logo.png')  }}">
</head>
<body>

    <nav class="navbar">
        <div class="logo">
            <img src="{{ url_for('static', filename='img/logo.png')  }}" style="height: 32px;" alt="SnapClass logo">
            <div class="logo-text">SnapClass</div>
        </div>


        <div class="nav-links">
            <a href="#">Home</a>
            <a href="#features">Features</a>
            <a href="#journey">Journey</a>
            <a href="#tech">Tech Stack</a>
        </div>

        <div class="nav-cta">
            <a href="https://smart-attendance-system1.streamlit.app/" class="btn-pill">Start AI Attendance <svg width="18" height="18" viewBox="0 0 24 24" fill="none"
                    stroke="currentColor" stroke-width="2">
                    <path d="M9 5l7 7-7 7" />
                </svg>
            </a>
        </div>
    </nav>



    <header class="hero">
        <div class="badge">
            Welcome to SnapClass
        </div>

        <h1>AI powered <br>Attendance <span>System</span></h1>
        <p>Revolutionizing the classroom with next-gen computer vision and voice biometrics. Trusted by educators for
            speed, accuracy, and security.</p>

        <div class="hero-action">
            <a href="https://smart-attendance-system1.streamlit.app/" class="btn-cta">Start AI Attendance <svg width="18" height="18" viewBox="0 0 24 24" fill="none"
                    stroke="currentColor" stroke-width="2">
                    <path d="M9 5l7 7-7 7" />
                </svg>
            </a>

            <a href="/journet" class="link-action">Explore Journey</a>
        </div>


        <div class="floating-card card-left">
            <div class="card-img">
                <img src="" alt="landing img 1">
            </div>
        </div>

        <div class="floating-card card-right">
            <div class="card-img">
                <img src="{{ url_for('static', filename='img/demo/snap-landing.png')  }}" alt="landing img 2">
            </div>
    </header>



    <section id="features" class="features">
        <h2>Innovative Features</h2>
        <div class="feature-grid">
            <div class="feature-card">
                <div class="f-icon-box">📸</div>
                <h3>AI Face Analysis</h3>
                <p>Advanced neural networks recognize every student's face from a single class photo, making attendance instant and accurate.</p>
            </div>


            <div class="feature-card">
                <div class="f-icon-box">🎙️</div>
                <h3>Sequential Voice ID</h3>
                <p>Students say "Present" one-by-one, and our audio-AI matches their voice biometrics against stored embeddings in real-time</p>
            </div>


            <div class="feature-card">
                <div class="f-icon-box">📱</div>
                <h3>QR-Driven Roster</h3>
                <p>Course codes generate unique QR codes for instant student enrollment. No more manual entry or data management headaches</p>
            </div>
        </div>
    </section>




    


    <section class="purple-section">
        <h2>Ready to upgrade your classroom?</h2>
        <p>Join thousands of educators who have simplified their day with SnapClass. The smartest AI powered
            attendance
            system is just one click away.</p>
        <a href="https://smart-attendance-system1.streamlit.app/" class="btn-white">Start AI Attendance Now</a>
    </section>






    <footer class="main-footer">
        <div class="footer-grid">
            <div class="footer-brand">
                <div class="logo">
                <img src="{{ url_for('static', filename='img/logo.png')  }}" style="height: 32px;" alt="SnapClass logo">
            <div class="logo-text">SnapClass</div>
        </div>

        <p>he next generation of classroom management, powered by advanced AI biometrics. Join the future of education today.</p>

        </div>

            <div class="footer-links">
                <h4>Products</h4>
                <ul>
                    <li>
                        <a href="#features">AI Attendance</a>
                    </li>

                    <li>
                        <a href="#features">Smart Roaster</a>
                    </li>

                    <li>
                        <a href="#tech">Tech Stack</a>
                    </li>

                    <li>
                        <a href="#student-journey">Student Portal</a>
                    </li>
                </ul>
            </div>


            <div class="footer-links">
                <h4>Experience</h4>
                <ul>
                    <li>
                        <a href="#journey">Teacher Journey</a>
                    </li>

                    <li>
                    <a href="#student-journey">Student  Journey</a>
                    </li>

                    <li>
                        <a href="#features">Voice ID ROll-call</a>
                    </li>

                    <li>
                        <a href="#features">Face ID Scan</a>
                    </li>
                </ul>
            </div>


            <div class="footer-links">
                <h4>Company</h4>
                <ul>
                    <li>
                        <a href="#features">About us</a>
                    </li>

                    <li>
                        <a href="#features">How it works</a>
                    </li>

                    <li>
                        <a href="#">Privacy Policy</a>
                    </li>

                    <li>
                        <a href="#">Terms of use</a>
                    </li>
                </ul>
            </div>

        </div>


        <div class="footer-bottom">
            <p>&copy; 2026 SnapClass AI. Built with ❤️ for educators everywhere.</p>
        </div>

    </footer>



    
    

</body>
</html>